* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e3f9ff;
}

header {
    background-color: #3e97af;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.page-title {
    font-size: 26px;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}


main {
    padding: 20px;
}

.heading-2 {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
    margin-bottom: 20px;
}

table,
th,
td {
    border: 1px solid #515151;
}

th,
td {
    padding: 10px;
    text-align: left;
}

/* Responsive Form */
form label {
    display: block;
    margin-bottom: 5px;
    font-size: 14x;
}

form{
    padding: 30px;
    border-radius: 10px;
    background-color: #d5f6ff;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #3e95ac;
    background: #e3f9ff;
    outline: 0;
}
form button {
    width: 100%;
    margin-top: 5px;
    border: 1px solid #3389ec;
}

button {
    background-color: #3389ec;
    border: 1px solid #3389ec;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
}

button:hover {
    background-color: #2b51e7;
}

.add-new-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}

.add-new-product button {
    white-space: nowrap;
}

#product-search {
    padding: 10px;
    height: 36px;
    width: 100%;
    outline: 0;
    border: 1px solid #3e95ac;
    background: #e3f9ff;
}

.example-file{
    padding: 40px;
    color: #555;
}
footer {
    background-color: #3e97af;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: absolute;
    width: 100%;
    bottom: 0;
}

@media (max-width: 768px) {
    header {
        display: block;
    }

    .page-title{
        font-size: 20px;
        margin-bottom: 10px;
    }
    
}

@media (max-width: 590px) {
    main{
        padding: 10px;
    }
    .main-content{
        margin: 20px 0;
    }
    form {
        padding: 20px;
        border-radius: 6px;
        background-color: #c2f2ff;
    }
    .example-file {
        padding: 20px;
        color: #555;
    }
    .example-file pre{
        font-size: 10px;
    }

    th, td {
        font-size: 12px;
    }

}

form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #3e95ac;
    background: #e3f9ff;
    outline: 0;
}
